<div class="topnav">
    <div class="logo-search">
        <ul>
            <li class="horizontal">
                <a href="/"><img id="logo" src="../static/images/spedu_logo.png" alt="Spedu"></a>
            </li>
            <li class="horizontal">
                <div class="search_bar">
                  <img id="magnifying_glass" src="../static/images/magnifying-glass.png" alt="search">
                  <input type="text" placeholder="Search for anything">
                </div>
            </li>
            <li class="horizontal option-list"><a class="option" href="">Spedu Store</a></li>
            <li class="horizontal option-list"><a class="option" href="">Sports Courses</a></li>
        </ul>
    </div>
    <div class="mypage">
        <ul>
            <li class="horizontal"><a href=""><button id="mylearning-button">My Learning</button></a></li>
            <li class="horizontal"><a href=""><img id="shopping-cart" src="../static/images/shopping-cart.png" alt="cart"></a></li>
            <li class="horizontal"><a href=""><img id="notification" src="../static/images/notification.png" alt="notification"></a></li>
            <li class="horizontal"><a href=""><img id="user-icon" src="../static/images/user-icon.png" alt="user"></a></li>
        </ul>
    </div>
</div>
