{% extends 'admin_page.html' %}
{% block head %}
<title>Admin Page Courses</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_page_products.css') }}">

{% endblock %}
{% block body %}
<div class="search_products" >
  <p>Search For Courses</p>
  <div class="search_bar horizontal">
    <img id="magnifying_glass" src="../../static/images/magnifying-glass.png" alt="search">
    <input type="text" placeholder="Search for products">
  </div>
  <div class="new-product-btn-div">
    <a href="/admin_page/products/new_product"><button class="new-product-btn">New Product</button></a>
  </div>
</div>



<div class="products-list" style="position:absolute;margin-top:100px;margin-left:220px;">
  {% for i in range(products|length) %}
    <input id="input" type="text" name="selected_productID" value="" style="display:none;">
        <div class="products-list-box">
            <a href=""><img id="jordan-zoom" src="../../static/images/jordan-zoom.png" alt="Spedu"></a>
            <h5 class="name">{{products[i].name}}</h5>
            <p class="category">{{products[i].category}}</p>
            <p class="price">${{'%0.2f'| format(products[i].price|float)}}</p>

        </div>



  {% endfor %}
  <script type="text/javascript">
          function submit(id) {
              document.getElementById('input').value = id;
              document.getElementById(deleteproduct').submit();
          }
  </script>


{% endblock %}

</div>