{% extends 'admin_page.html' %}
{% block head %}
<title>Admin Page Courses</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_page_courses.css') }}">

{% endblock %}
{% block body %}
<div class="search_courses" >
  <p>Search For Courses</p>
  <div class="search_bar horizontal">
    <img id="magnifying_glass" src="../../static/images/magnifying-glass.png" alt="search">
    <input type="text" placeholder="Search for courses">
  </div>
  <div class="new-course-btn-div">
    <a href="/admin_page/courses/new_course"><button class="new-course-btn">New Course</button></a>
  </div>

</div>


  <div class="courses-list" style="position:absolute;margin-top:100px;margin-left:220px;">
    <form action='/sports_courses/about_course/' id="selected_course_form" method="get">
      <input id="input" type="text" name="selected_courseID" value="" style="display:none;">
      {% for i in range(courses|length) %}
      {% set course = courses[i] %}
      <a onclick="submit('{{course.courseID}}')">
        <div class="courses-list-box">
            <img class="course-image" src="../../static/images/yoga_image.png" style="width:auto;height:140px;" alt="yoga_image" >
            <ul class="course-description">
              <li class="name" id="name_{{course.name}}">{{course.name}}</li>
              <li class="description">{{course.description}}</li>
              <li class="trainer">{{course.trainer}}</li>
              <li class="trainer" style="color:#1E5D63;font-weight:bold;">{{course.duration}} total hours | For {{course.level}}</li>
              <li class="rating">★{{'%0.1f'| format(course.rating|float)}}</li>
            </ul>
            <div class="price">${{'%0.2f'| format(course.price|float)}}</div>
          <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:10px;margin-bottom:8;">
        </div>
      </a>
      {% endfor %}


      <script type="text/javascript">
        function submit(id) {
            document.getElementById('input').value = id;
            document.getElementById('selected_course_form').submit();
        }
      </script>
    </form>

  </div>
{% endblock %}
