<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.typekit.net/ktl0fuq.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_page.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="topnav">
      <div class="horizontal back-to-homepage">
        <a href="/" style="color:black;">
          <img class="horizontal" style="width:14px;" src="../../../../static/images/arrow-left.png" alt="arrow-left">
          Back to homepage
        </a>
      </div>
      <div class="horizontal logo-div">
        <img id="logo" src="../../../../static/images/spedu_logo.png" alt="Spedu">
      </div>
    </div>
    {% block body %}{% endblock %}
  </body>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
  <script src="{{ url_for('static', filename='Javascript/firestore.js') }}" charset="utf-8"></script>
</html>
