{% extends 'admin_page.html' %}
{% block head %}
<title>Admin Page Products</title>
{% endblock %}
{% block body %}
<style>
.search_products {
  padding-left: 230px;
  height: 25px;
  width: auto;
  color: black;
}

.search_products p {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 500;
}

.search_bar {
  border-radius: 20px;
  padding-bottom: 5px;
  height:30px;
  width: 400px;
  margin-left: 15px;
  position: relative;
  top: -8px;
  background-color: white;
  border: 1px solid #919191;
}
#magnifying-glass {
  height: 15px;
  margin-left: 10px;
  position: relative;
  top: 8px;
}

.search_bar input{
  border:none;
  width:85%;
  font-size: 14px;
  position: relative;
  top: 6px;
  height: 10px;
  background-color: transparent;
}

.search_bar input:focus {
  outline:none;
}

.new-product-btn {
  height: 40px;
  width: 140px;
  float: right;
  padding-bottom: 0px;
  text-decoration: none;
  display: block;
  font-size: 17px;
  margin-top: -46px;
  margin-right: 250px;
  text-align: center;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #1E5D63;
  border: 2px solid #1E5D63;

}
.new-product-btn:hover{
  text-decoration: none;
  background-color: white;
  color: #1E5D63;
}

.small-container {
    max-width: 1300px;
    margin: auto;
}

.small-container .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -100px;
}

.small-container .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -100px;
}

.col-3 {
    flex-basis: 25%;
    min-width: 50px;
    margin-top: 150px;;
    left: 280px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    background: #F8F8F8;
    cursor: pointer;
    transition: transform 0.5s;
}

.col-3 img {
    width: 100%
}

.col-3:hover {
    transform: translateY(-7px);
}




</style>
<div style="padding-top:30px;width:100%;">
  <div class="search_products horizontal">
    <p>Search For Products</p>
  </div>
  <div class="search_bar horizontal">
    <img id="magnifying-glass" src="../../static/images/magnifying-glass.png" alt="search">
    <input type="text" placeholder="Search for products">
  </div>
  <div class="new-product-btn-div">
    <a href="/admin_page/products/new_product"><button class="new-product-btn">New Product</button></a>
  </div>
</div>

<div class="small-container">
  {% for i in range(products|length) %}
    <div class="row">
        <div class="col-3">
            <a href=""><img id="jordan-zoom" src="../../static/images/jordan-zoom.png" alt="Spedu"></a>
            <h5 class="name">{{products[i].name}}</h5>
            <p class="category">{{products[i].category}}</p>
            <p class="price">${{'%0.2f'| format(products[i].price|float)}}</p>
            <a href="/admin_page/products/update_product">Edit Data</a>
        </div>

    </div>
  {% endfor %}
</div>
{% endblock %}

