{% extends 'admin_page.html' %}
{% block head %}
<title>Admin Sports Courses</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_selected_course.css') }}">
{% endblock %}

{% block body %}
<div class="about_course_div">
  <div class="course_overview_div">
    <h1>{{selected_course.name}}</h1>
    <br>
    <ul>
      <li class="short_description">{{selected_course.short_description}}</li>
      <li class="trainer" style="color:#AFADAD;">{{selected_course.trainer}}</li>
      <li class="trainer" style="font-weight:light;">{{selected_course.duration}} total hours | For {{selected_course.level}}</li>
      <li class="rating">★{{'%0.1f'| format(selected_course.rating|float)}} <p style="color:#AFADAD;display:inline-block;">| {{selected_course.students_count}} students are enrolled</p></li>
    </ul>
  </div>
  <div class="course_purchase_div">
    <img src="{{selected_course.image}}" style="width:280px;height:auto;" alt="">
    <h2 style="font-weight:bold;">${{'%0.2f'| format(selected_course.price|float)}}</h2>
      <form action="{{ url_for('update_delete_course') }}" id="selected_action" method="post" enctype="multipart/form-data">
      <input type="text" name="current_course" value="{{selected_course.courseID}}" style="display:none;">
      <input type="text" id="action_input" name="action_input" style="display:none;">
      <a onclick="submit('update')"><button class="add_to_cart_btn" type="button" >Update</button></a>
      <a onclick="submit('delete')"><button class="buy_now_btn" type="button" name="button">Delete</button></a>
      <script type="text/javascript">
        function submit(action) {
          var action_input_value = document.getElementById('action_input')
          if (action=='delete') {
            action_input_value.value = 'delete'

          } else if (action=='update') {
            action_input_value.value = 'update'
          }
          document.getElementById('selected_action').submit()
        }
      </script>
      </form>
    <br>
    <p style="font-weight:bold;">What you will learn</p>
    <p>{{selected_course.learning_outcome}}</p>
  </div>
  <div class="course_description_div">
  <h3>Description</h3>
  <p>{{selected_course.description}}</p>
  <br>
  <h3>Review</h3>
  {% for review in selected_course.reviews %}
  <div id="review_div">
    <script type="text/javascript">
      const review_json = JSON.parse('{{review|tojson}}');
      document.getElementById('review_div').innerHTML = "<p>"+review_json.reviewer+"</p>" + "<p>"+review_json.rating+"</p>" +"<p>"+review_json.review+"</p>"

    </script>
    <p id="reviewer"></p>
  </div>

  {% endfor %}

  </div>
</div>

{% endblock %}
