<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_page.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="topnav">
      <div class="horizontal back-to-homepage">
        <a href="/" style="color:black;">
          <img class="horizontal" style="width:14px;" src="../../../../static/images/arrow-left.png" alt="arrow-left">
          Back to homepage
        </a>
      </div>
      <div class="horizontal logo-div">
        <img id="logo" src="../../../../static/images/spedu_logo.png" alt="Spedu">
      </div>
    </div>
    <div class="menu">
      <ul>
        <li class="option">
          <a href="/admin_page/"><h4>Dashboard</h4></a>
        </li>
        <li class="option">
          <a href="/admin_page/courses/"><h4>Courses</h4></a>
        </li>
        <li class="option">
          <a href="/admin_page/products"><h4>Products</h4></a>
        </li>
        <li class="option">
          <a href="/admin_page/all_orders"><h4>Orders</h4></a>
        </li>
        <li class="option">
          <a href="/admin_page/"><h4>Users</h4></a>
        </li>
        <li class="option">
          <a href="/admin_page/Promo code/"><h4>Promo Codes</h4></a>
        </li>
      </ul>
    </div>
    {% block body %}{% endblock %}
  </body>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
  <script src="{{ url_for('static', filename='Javascript/firestore.js') }}" charset="utf-8"></script>
</html>
