{% extends 'admin_page.html' %}
{% block head %}

<title>Admin Page orders</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_page_courses.css') }}">
{% endblock %}
{% block body %}
<script type="text/javascript">
window.addEventListener('load', function() {
    var courses_cart = JSON.parse({{all_courses|tojson}});
    var products_cart = JSON.parse({{all_products|tojson}});
    var shopping_cart = courses_cart.concat(products_cart);
    var total_price = 0
    for (var i = 0; i < shopping_cart.length; i++) {
      if (true) {
      }
      var id = shopping_cart[i];
      if (id.substring(0,2)=="CR") {
        db.collection("Courses").where("courseID", "==", id).get()
        .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              total_price += parseFloat(doc.data()['price']);
              document.getElementById('total_cost').innerHTML = "S$"+String(total_price.toFixed(2));
            });
        })
      } else {
        db.collection("Products").where("productID", "==", id).get()
        .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              total_price += parseFloat(doc.data()['price']);
              document.getElementById('total_cost').innerHTML = "S$"+String(total_price.toFixed(2));
            });
        })
      }

    }

  })
</script>
<div class="search_courses" >
  <h1>All Items bought</h1>
</div>


  <div class="courses-list" style="position:absolute;margin-top:100px;margin-left:220px;">
    <form action='/admin_page/courses/about_course/' id="selected_course_form" method="get">
      <input id="input" type="text" name="selected_courseID" value="" style="display:none;">
      <h3>All Courses Bought</h3>
      <hr>
      {% for i in range(courses_cart|length) %}
      {% set course = courses_cart[i] %}
        <div class="courses-list-box">
            <img class="course-image" src="{{course.image}}"  style="width:230px;height:130px;" alt="yoga_image" >
            <ul class="course-description">
              <li class="name">Type: Course</li>
              <li class="name" id="name_{{course.name}}">{{course.name}}</li>
              <li class="trainer">Sold by: {{course.trainer}}</li>
            </ul>
          <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:10px;margin-bottom:8;">
        </div>
      {% endfor %}
        <hr>
        <h3>All Products Bought</h3>
        <hr>
        {% for i in range(products_cart|length) %}
      {% set course = products_cart[i] %}
        <div class="courses-list-box">
            <img class="course-image" src="{{course.image}}"  style="width:230px;height:130px;" alt="yoga_image" >
            <ul class="course-description">
              <li class="name">Type: Product</li>
              <li class="name" id="name_{{course.name}}">{{course.name}}</li>
            </ul>
          <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:10px;margin-bottom:8;">
        </div>
      {% endfor %}

      <script type="text/javascript">
        function submit(id) {
            document.getElementById('input').value = id;
            document.getElementById('selected_course_form').submit();
        }
      </script>
    </form>
<br>
  </div>

</div>
{% endblock %}