<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
</head>
<body>
<div class="topnav">
    <div class="logo-search">
        <ul>
            <li class="horizontal">
                <a href=""><img id="logo" src="../static/images/spedu_logo.png" alt="Spedu"></a>
            </li>
            <li class="horizontal">
                <div class="search_bar">
                  <img id="magnifying_glass" src="../static/images/magnifying-glass.png" alt="search">
                  <input type="text" placeholder="Search for anything">
                </div>
            </li>
            <li class="horizontal option-list"><a class="option" href="">Spedu Store</a></li>
            <li class="horizontal option-list"><a class="option" href="">Sports Courses</a></li>
        </ul>
    </div>
    <div class="mypage">
        <ul>
            <li class="horizontal"><a href=""><button id="mylearning-button">My Learning</button></a></li>
            <li class="horizontal"><a href=""><img id="shopping-cart" src="../static/images/shopping-cart.png" alt="search"></a></li>
            <li class="horizontal"><a href=""><img id="notification" src="../static/images/notification.png" alt="search"></a></li>
            <li class="horizontal"><a href=""><img id="user-icon" src="../static/images/user-icon.png" alt="search"></a></li>
        </ul>
    </div>
</div>

{% block body %}{% endblock %}
</body>
</html>