{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}
<title>Checkout</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checkout.css') }}">
{% endblock %}
{% block body %}
{% from "includes/_formHelper.html" import render_field %}
<script type="text/javascript">
	window.addEventListener('load', function() {
    var price = "{{'%0.2f'| format(course.price|float)}}";
    document.getElementById('total_cost').innerHTML = "$"+String(price);
    document.getElementById('courseID').value = '{{course.courseID}}';
  })

</script>

<div class="checkout_div">
  <h1 style="font-family: 'STIXGeneral', serif;font-weight: bold;margin-top:70px;text-align:left;">Checkout</h1>
    <br>
    <div class="courses_cart_div" id="courses_cart_div">
      <div class="course_overview_div">
          <img class="course-image" src="{{course.image}}" style="position:absolute;width:140px;height:80px;margin-top:10px;margin-left:10px;" alt="yoga_image" >
          <ul>
            <li class="name" id="name_{{course.name}}" style="font-size: 15px;padding-right:10px;">{{course.name}}</li>

            <li class="rating" style="font-size: 11px;">★{{'%0.1f'| format(course.rating|float)}}</li>
            <li style="font-size: 13px;color: #767676;">{{'%0.1f'| format(course.duration|float)}} total hours | For {{course.level}}</li>
          </ul>
          <div class="price_div">
            <p style="font-size: 18px;font-weight: bold;">${{'%0.2f'| format(course.price|float)}}</p>

          </div>

      </div>
    </div>
  <div style="text-align:right;">
    <p style="font-size:19px;font-weight:300;margin-bottom:0px;right:20px;">Total:</p>
    <h3 id="total_cost"></h3>
  </div>
    <br>
  <hr>
  <br>
  <div id="payment">
      <h3 style="margin-bottom:20px;">Credit/Debit Card details</h3>
          <form method = "POST">
  	        <div class="form-group">
  		        {{ render_field(form.Name_on_card, class="form-control") }}
  	        </div>
  	        <div class="form-group">
  		        {{ render_field(form.exp_date, class="form-control") }}
  	        </div>
              <div class="form-group">
  		        {{ render_field(form.cvv_code, class="form-control") }}
  	        </div>
              <div class="form-group">
  		        {{ render_field(form.card_number, class="form-control") }}
  	        </div>
  	        <br>
  	        <input type="submit" value="Submit" class="btn btn-primary"/>
            <input style="display:none;" type="text" id="courseID" name="courseID" value="">
          </form>


  </div>

</div>
{% endblock %}
