

{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}

<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="top:70px;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="d-block" >
      <div class="carousel-caption d-none d-md-block">
          <h1 style="color:black;font-family: Impact, sans-serif; text-align:left;">It’s about drive, it’s about power <br> We stay hungry, we devour</h1>
          <p style="color:black;font-family: Helvetica, sans-serif; text-align:left;">View our top full-workout courses that will get you the physique that you desire to have</p>
          <button class="view-course-btn" onclick="open_page()" >View Course</button>
          <script type="text/javascript">
            function open_page() {
              window.location.href = "/sports_courses/";
            }
          </script>
      </div>
      <img src="../../static/images/the rock.png" alt="the rock" id="therock" style="margin-bottom:-50px;margin-left:calc(65% - 100px);width:350px;height:auto;">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block" style="background-color:#F6D167;">
      <div class="carousel-caption d-none d-md-block">
          <h1 style="color:black;font-family: Impact, sans-serif; text-align:left;">Get 30% Off Your First Course Purchase</h1>
          <p id="second-p" style="color:black;font-family: Helvetica, sans-serif; text-align:left; ">Hurry, promotion ends very soon!</p>
          <button class="view-course-btn" id="view-course-btn2" onclick="open_page()" >Find out more</button>
          <script type="text/javascript">
            function open_page() {
              window.location.href = "/sports_courses/";
            }
          </script>
      </div>
      <img src="../../static/images/lebron.png" alt="the rock" style="margin-top:80px;margin-left:calc(65% - 100px);width:400px;height:auto;">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block" >
      <div class="carousel-caption d-none d-md-block">
          <h1 style="color:black;font-family: Impact, sans-serif; text-align:left;margin-left:-100px;">Nike ZoomX Vaporfly <br> Next% 2</h1>
          <p style="color:black;font-family: Helvetica, sans-serif; text-align:left;margin-left:-100px;">Our Latest Product!</p>
          <button class="view-product-btn" onclick="open_page()" >View Product</button>
          <script type="text/javascript">
            function open_page() {
              window.location.href = "/store_searchpage/";
            }
          </script>
      </div>
      <img src="../../static/images/vaporfly1.png" alt="vaporfly 1" id="therock" style="margin-bottom:-100px;margin-left:700px;margin-top:-50px;calc(65% - 100px);width:330px;height:auto;">
      <img src="../../static/images/vaporfly2.png" alt="vaporfly 2" id="" style="margin-bottom:-100px;margin-left:425px;margin-top:-280px;calc(65% - 100px);width:330px;height:auto;">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{% if current_user.is_authenticated %}


{% else %}

<div id="package-ad-banner">
  <h3 style="font-family:Garamond;font-weight:bold;">Want to pick up new sports? We got you covered!</h3>
  <p style="padding-bottom:20px;">With more than 1000 courses available, you can find any sports you want to learn in Spedu.
</p>

  <ul style="display:inline-block;width:100%;">
    <li><img src="../static/images/yoga_image.png" style="max-width:200px;width:28%;min-width:100px;"></li>
    <li><img src="../static/images/yoga_image.png" style="max-width:200px;width:28%;min-width:100px;"></li>
    <li><img src="../static/images/yoga_image.png" style="max-width:200px;width:28%;min-width:100px;"></li>
  </ul>
  <ul style="display:inline-block;width:100%;">
    <li><img src="../static/images/yoga_image.png" style="max-width:200px;width:28%;min-width:100px;"></li>
    <li><img src="../static/images/yoga_image.png" style="max-width:200px;width:28%;min-width:100px;"></li>
    <li><img src="../static/images/yoga_image.png" style="max-width:200px;width:28%;min-width:100px;"></li>
  </ul>


</div>


<hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;width:80%;margin-right:auto;margin-left:auto;">
<div id="coding-ad-banner">
  <ul>
    <li><h3 style="font-family:Garamond;font-weight:bold;">Our sports courses are top of the class</h3></li>
    <ul style="display:inline-block;padding-bottom:10px;">
      <li style="display:inline-block;">
        <img src="../../static/images/steph_curry.png" style="height:400px;width:auto;margin-top:30px;">
      </li>
      <li style="display:inline-block;">
        <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;width:300px;margin-right:auto;margin-left:auto;">
        <p style="font-family:Georgia;font-size:16px;"><i>Spedu has been one of the best platform for <br> athletes
to reach thousands of students <br>  and teach them. I have also been using Spedu<br> to upload my basketball tutorials and teach many students<br> There are also thousands of brilliant courses <br>available, taught by a
group of amazing <br>trainers all around the world.</i></p>
        <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;width:300px;margin-right:auto;margin-left:auto;">
      </li>
    </ul>
  </ul>

</div>
<div id="reviews-banner">
  <h3 style="font-family:Garamond;padding-bottom:20px;font-weight:bold;">What our students tell about Spedu</h3>
  <table id="reviews-table">
    <tbody style="">
      <tr>
        <td class="reviews-table-td">
          <div class="reviews-table-div">
            <ul>
              <li style="float:left;"><h5>JackLim_0402</h5></li>
              <li>
              <li style="float:left;color:#EBC805;">★★★★★</li>
              <li><p>From the course ‘Learn the Basics of Soccer</p></li>

            </ul>
            <p class="reviews-paragraph">I highly recommend this course to anyone who is about to take SAT Math. Content is very elaborate and easy to understand, and I was able to grasp certain context that I couldn't in school.</p>
          </div>

        </td>
        <td class="reviews-table-td">
          <div class="reviews-table-div">
            <ul >
              <li  style="float:left;"><h5>hyeonghuuu</h5></li>
              <li style="float:left;color:#EBC805;">★★★★★</li>
              <li><p>From the course ‘Learn the Basics of Soccer’</p></li>

            </ul>
            <p class="reviews-paragraph">Amazing course. Course was very easy to understand and follow, and now I am about to take PamaSchool's intermediate python course.</p>
          </div>

        </td>
      </tr>
      <tr>
        <td class="reviews-table-td">
          <div class="reviews-table-div">
            <ul>
              <li style="float:left;"><h5>yuheng_rekt</h5></li>
              <li style="float:left;color:#EBC805;">★★★★★</li>
              <li><p>From the course ‘Learn the Basics of Soccer’</p></li>

            </ul>
            <p class="reviews-paragraph">Physics never felt so interesting until I took this physics course. Amazing teachers and resources. Without this course, I would not have secured A for physics exams. Thank you PamaSchool!</p>
          </div>
        </td>
        <td class="reviews-table-td">
          <div class="reviews-table-div">
            <ul >
              <li style="float:left;"><h5>Vincent_hahaha</h5></li>
              <li style="float:left;color:#EBC805;">★★★★★</li>
              <li><p>From the course ‘Learn the Basics of Soccer’</p></li>

            </ul>
            <p class="reviews-paragraph">I was always afraid of public speaking and had a habit of being frozen in front of audience. But now, because of this course, I am extremely confident in public speaking, and now I am hired as a client instruction team leader.</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}



{% endblock %}
