
{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}

<title>Main Store Page</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_storepage.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

#x
<div id="coding-ad-banner">
  <div class="products-list" style="position:absolute;margin-top:-500px;margin-left:220px;">

  <form action='/spedu_store/about_product/' id="selected_product_form" method="get">
    <input id="input" type="text" name="selected_productID" value="" style="display:none;">
      <h2 style="font-family: 'STIXGeneral', serif;font-weight: bold;margin-left:-800px;margin-top:-20px;">Sports Product</h2>
      <h5 style="font-family: 'STIXGeneral', serif;font-weight: bold;margin-left:-890px;margin-top:40px;">Top Products</h5>
    <ul class="top-course-ul">
      {% for i in range(products|length) %}
      {% set product = products[i] %}
      <li class="horizontal" style="margin-right:-280px;margin-top:5px;">
      <a onclick="submit('{{product.productID}}')">
        <div class="products-list-box">
            <ul>
              <img class="image" id="jordan-zoom" src="../../static/images/jordan-zoom.png" alt="Spedu">
              <li class="name">{{products[i].name}}</li>
              <li class="category">{{products[i].category}}</li>
              <li class="price">${{'%0.2f'| format(products[i].price|float)}}</li>
            </ul>
        </div>
      </a>
      </li>
      {% endfor %}
    </ul>
  <script type="text/javascript">
          function submit(id) {
              document.getElementById('input').value = id;
              document.getElementById('selected_product_form').submit();
          }
  </script>

  </form>
</div>
    </div>


<div id="package-ad-banner">
  <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:400px;margin-bottom:40px;width:82.5%;margin-right:auto;margin-left:auto;">
  <div class="btn-group">
    <button>Sports Wear</button>
    <button>Game Equipment</button>
    <button>Shoes</button>
    <button>Supplements</button>
    <button>Gym Equipment</button>
    <button>Accessories</button>
  </div>
</div>


<hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:600px;width:80%;margin-right:auto;margin-left:auto;">


<div class="featured-products" style="position:absolute;margin-top:-270px;margin-left:220px;">
    <ul>
    <li><h3 style="font-family:Garamond;font-weight:bold;position:relative;top:80px;left:-100px;">Featured</h3></li>
    </ul>
    <img class="image" id="nike cover page" src="../../static/images/nike cover page.png" alt="Spedu" style="width:130%;margin-top:120px;position:relative;left:-100px;">
    <h4 style="position:relative;left:-60px;top:20px;">Nike Running Shoes</h4>
    <button style="position:relative; left:-27px;" class="view-course-btn" onclick="open_searchpage()" >Shop Now</button>
    <script type="text/javascript">
        function open_searchpage() {
          window.location.href = "/store_searchpage/";
        }
    </script>
    <img class="image" id="nike cover page1" src="../../static/images/nike cover page.png" alt="Spedu" style="width:130%;margin-top:-536px;position:relative;left:420px;">
    <h4 style="position:relative;left:460px;top:-107px;">Nike Running Shoes</h4>
    <button style="position:relative; left:500px;top:-128px;" class="view-course-btn" onclick="open_searchpage()" >Shop Now</button>
    <script type="text/javascript">
        function open_searchpage() {
          window.location.href = "/store_searchpage/";
        }
    </script>
</div>


{% endblock %}
