
{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}

<title>Main Store Page</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_storepage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/store_searchpage.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="course-panel">
      <h2 style="font-family: 'STIXGeneral', serif;font-weight: bold;">Sports Product</h2>
      <br>
      <div class="top-course-div" id="top-course-div">
        <h4 style="font-family: 'STIXGeneral', serif;font-weight: bold;">Top Courses</h4>
        <button class="slide_button" id="slideRight" type="button" name="button"><img src="../../static/images/left-arrow.png" alt="" style="height:40px;width:auto;"></button>
        <ul class="top-course-ul" id="top-course-ul">
          {% for i in range(products|length) %}
          {% set product = products[i] %}

          <li class="horizontal" style="margin-right: 5px;margin-top:10px;width:270px;margin-left: 5px;">
            <a onclick="submit('{{product.productID}}')" class="course-a">
            <div class="course-short-detail-box">

              <img class="course-image" src="{{product.image}}" style="width:230px;height:130px;margin-top:10px;" alt="yoga_image" >
              <ul>
                <li class="name" style="font-size: 15px;padding-right:55px;">{{products[i].name}}</li>
                <li class="category" style="font-size: 11px;color:grey;padding-top:2px;">{{products[i].category}}</li>
                <li style="font-size: 13px;padding-top:10px;">${{'%0.2f'| format(products[i].price|float)}}</li>
              </ul>

            </div>
            </a>
          </li>
          {% endfor %}
        </ul>
        <button class="slide_button" id="slideLeft" type="button" name="button"><img src="../../static/images/right-arrow.png" alt="" style="height:40px;width:auto;"></button>
      </div>
</div>
<script type="text/javascript">
  const buttonRight = document.getElementById('slideRight');
   const buttonLeft = document.getElementById('slideLeft');
   window.onresize = function(event) {
     var width = ((document.getElementById("top-course-ul").getElementsByTagName("li").length)/5)*290;
     if (width<$(document).width()) {
       buttonRight.style.display = "none";
       buttonLeft.style.display = "none";
     } else {
       buttonRight.style.display = "none";
       buttonLeft.style.display = "block";
     }
    };
   buttonRight.style.display = "none";
   buttonRight.onclick = function () {
     document.getElementById('top-course-ul').scrollLeft -= ($(document).width()-250);
     buttonRight.style.display = "none";
     buttonLeft.style.display = "block";
   };
   buttonLeft.onclick = function () {
     document.getElementById('top-course-ul').scrollLeft += ($(document).width()-250);
     buttonLeft.style.display = "none";
     buttonRight.style.display = "block";
   };
</script>

  <script type="text/javascript">
          function submit(id) {
              document.getElementById('input').value = id;
              document.getElementById('selected_product_form').submit();
          }
  </script>



<h2 class="title">Our Distributors</h2>
<div class="row">
  <div class="column">
    <img src="../../static/images/reebok.png" alt="reebok" style="width:180px;">
  </div>
  <div class="column">
    <img src="../../static/images/yonex.jpg" alt="" style="width:180px;">
  </div>
  <div class="column">
    <img src="../../static/images/puma.png" alt="" style="width:180px;">
  </div>
  <div class="column">
    <img src="../../static/images/adidas.png" alt="" style="width:180px;">
  </div>
  <div class="column">
    <img src="../../static/images/nike.jpg" alt="" style="width:180px;">
  </div>
</div>

<hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:50px;margin-bottom:40px;width:80%;margin-right:auto;margin-left:auto;">
<div class="product-panel">
        <ul>
          <li><h3 style="font-family: 'STIXGeneral', serif;font-weight: bold;">Sports Product</h3></li>
          <li>
            <label for="dropdown" style="font-size:14px;font-weight:bold;">Sort by : </label>
            <div class="dropdown" >
              <button class="dropbtn" id="dropbtn">Default</button>
              <div class="dropdown-content">
                  <a onclick="sort('default')">Default</a>
                  <a onclick="sort('price high to low')">price high to low</a>
                  <a onclick="sort('price low to high')">price low to high</a>
              </div>
              <form action='/spedu_store/' id="sort_attr_form" method="get">
              <input id="sort_attr" type="text" name="sort_attr" value="" style="display:none;">
              </form>
              <script type="text/javascript">
                function sort(sort_attr) {
                  document.getElementById('sort_attr').value = sort_attr;
                  document.getElementById('sort_attr_form').submit();
                  // $( "#products-list" ).load(window.location.href + " #products-list" );
                }
              </script>
            </div>
          </li>
        </ul>
    </div>
    <div class="view-products">
      <div class="product-filter">
        <ul>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Price</h6>
            <input onclick="sort_filter_courses('{{sort_attribute}}','{{rating_value}}','0','{{level_value}}')" type="radio" id="free" name="price_filter" value="0">
            <label for="price_filter">
              Free
            </label><br>
            <input onclick="sort_filter_courses('{{sort_attribute}}','{{rating_value}}','20','{{level_value}}')" type="radio" id="20" name="price_filter" value="20">
            <label for="price_filter">
              Below S$20
            </label><br>
            <input onclick="sort_filter_courses('{{sort_attribute}}','{{rating_value}}','50','{{level_value}}')" type="radio" id="50" name="price_filter" value="50">
            <label for="price_filter">
              Below S$50
            </label><br>
            <input onclick="sort_filter_courses('{{sort_attribute}}','{{rating_value}}','100','{{level_value}}')" type="radio" id="100" name="price_filter" value="100">
            <label for="price_filter">
              Below S$100
            </label><br>
          </li>

        </ul>
      </div>


<div class="products-list" id="products-list" style="position:absolute;top:1050px;left:200px;">
  <form action='/spedu_store/about_product/' id="selected_product_form" method="get">
    <input id="input" type="text" name="selected_productID" value="" style="display:none;">
        {% for i in range(products|length) %}
        {% set product = products[i] %}
      <a onclick="submit('{{product.productID}}')">
        <div class="products-list-box">
            <img class="image" src="{{product.image}}" style="width:200px;height:130px;margin-left:100px;" alt="Spedu">
            <h5 class="name1">{{products[i].name}}</h5>
            <p class="category1">{{products[i].category}}</p>
            <p class="price1">${{'%0.2f'| format(products[i].price|float)}}</p>
        </div>
      </a>
        {% endfor %}
  <script type="text/javascript">
          function submit(id) {
              document.getElementById('input').value = id;
              document.getElementById('selected_product_form').submit();
          }
  </script>

  </form>
</div>
</div>

{% endblock %}
