

{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}

<title>Main Store Page</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_storepage.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="top:70px;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="d-block" >
      <div class="carousel-caption d-none d-md-block">
          <h1 style="color:black;font-family: Impact, sans-serif; text-align:left;margin-left:-100px;">Nike ZoomX Vaporfly <br> Next% 2</h1>
          <p style="color:black;font-family: Helvetica, sans-serif; text-align:left;margin-left:-100px;">Our Latest Product!</p>
          <button class="view-product-btn" onclick="open_page()" >View Product</button>
          <script type="text/javascript">
            function open_page() {
              window.location.href = "/store_searchpage/";
            }
          </script>
      </div>
      <img src="../../static/images/vaporfly1.png" alt="vaporfly 1" id="therock" style="margin-bottom:-100px;margin-left:700px;margin-top:-50px;calc(65% - 100px);width:330px;height:auto;">
      <img src="../../static/images/vaporfly2.png" alt="vaporfly 2" id="" style="margin-bottom:-100px;margin-left:425px;margin-top:-280px;calc(65% - 100px);width:330px;height:auto;">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block" style="background-color:#F6D167;">
      <div class="carousel-caption d-none d-md-block">
          <h1 style="color:black;font-family: Impact, sans-serif; text-align:left;margin-left:-100px;">Get 20% Off Your First Product Purchase</h1>
          <p id="second-p" style="color:black;font-family: Helvetica, sans-serif; text-align:left;margin-left:-100px; ">Hurry, promotion ends very soon!</p>
          <button class="view-product-btn" id="view-product-btn2" onclick="open_page()" >All Products</button>
          <script type="text/javascript">
            function open_page() {
              window.location.href = "/store_searchpage/";
            }
          </script>
      </div>
      <img src="../../static/images/lebron.png" alt="the rock" style="margin-top:80px;margin-left:calc(65% - 100px);width:400px;height:auto;">
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<div id="package-ad-banner">
  <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:40px;width:82.5%;margin-right:auto;margin-left:auto;">
  <div class="btn-group">
    <button>Sports Wear</button>
    <button>Game Equipment</button>
    <button>Shoes</button>
    <button>Supplements</button>
    <button>Gym Equipment</button>
    <button>Accessories</button>
  </div>
</div>


<hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;width:80%;margin-right:auto;margin-left:auto;">
<div id="coding-ad-banner">
  <ul>
  <li><h3 style="font-family:Garamond;font-weight:bold;">Products You Might Be Interested In</h3></li>
  </ul>
  <div class="products-list" style="position:absolute;margin-top:100px;margin-left:220px;">
  <form action='/spedu_store/about_product/' id="selected_product_form" method="get">
    <input id="input" type="text" name="selected_productID" value="" style="display:none;">
    <ul class="top-course-ul">
      {% for i in range(products|length) %}
      {% set product = products[i] %}
      <li class="horizontal" style="margin-right: -250px;margin-top:10px;">
      <a onclick="submit('{{product.productID}}')">
        <div class="products-list-box">
            <ul>
              <img class="image" id="jordan-zoom" src="../../static/images/jordan-zoom.png" alt="Spedu">
              <li class="name">{{products[i].name}}</li>
              <li class="category">{{products[i].category}}</li>
              <li class="price">${{'%0.2f'| format(products[i].price|float)}}</li>
            </ul>
        </div>
      </a>
      </li>
      {% endfor %}
    </ul>
  <script type="text/javascript">
          function submit(id) {
              document.getElementById('input').value = id;
              document.getElementById('selected_product_form').submit();
          }
  </script>

  </form>
</div>
    </div>
<hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:320px;margin-bottom:600px;width:80%;margin-right:auto;margin-left:auto;">

<div class="featured-products" style="position:absolute;margin-top:100px;margin-left:220px;">
    <ul>
    <li><h3 style="font-family:Garamond;font-weight:bold;position:relative;top:80px;left:-100px;">Featured</h3></li>
    </ul>
    <img class="image" id="nike cover page" src="../../static/images/nike cover page.png" alt="Spedu" style="width:130%;margin-top:120px;position:relative;left:-100px;">
    <h4 style="position:relative;left:-60px;top:20px;">Nike Running Shoes</h4>
    <button style="position:relative; left:-27px;" class="view-course-btn" onclick="open_searchpage()" >Shop Now</button>
    <script type="text/javascript">
        function open_searchpage() {
          window.location.href = "/store_searchpage/";
        }
    </script>
    <img class="image" id="nike cover page1" src="../../static/images/nike cover page.png" alt="Spedu" style="width:130%;margin-top:-536px;position:relative;left:350px;">
    <h4 style="position:relative;left:400px;top:-107px;">Nike Running Shoes</h4>
    <button style="position:relative; left:430px;top:-128px;" class="view-course-btn" onclick="open_searchpage()" >Shop Now</button>
    <script type="text/javascript">
        function open_searchpage() {
          window.location.href = "/store_searchpage/";
        }
    </script>
</div>


{% endblock %}
