{% extends 'admin_page.html' %}
{% block head %}
<title>New Course</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_course.css') }}">

{% endblock %}
{% block body %}
<div class="new_course">
  <form action="{{ url_for('create_new_course') }}" method="post" enctype="multipart/form-data">
  <ul>
    <li style="height:40px;"><h2>New Course</h2></li>
    <li style="height:50px;margin-top:20px;"><p>Course Name</p><textarea name='course_name' type="text" placeholder=""></textarea></li>
    <li style="height:50px;margin-top:20px;"><p>Course Price</p><textarea name='course_price' type="text" placeholder=""></textarea></li>
    <li style="height:50px;"><p>Course Trainer</p><textarea name='course_trainer' type="text" placeholder=""></textarea></li>
    <li style="height:100px;"><p>Course Short Description</p><textarea name='course_short_desc' style="height:80px;" type="text" placeholder=""></textarea></li>
    <li style="height:180px;"><p>Course Description</p><textarea name='course_desc' style="height:160px;" type="text" placeholder=""></textarea></li>
    <li style="height:100px;"><p>Learning Outcome</p><textarea name='learning_outcome' style="height:80px;" type="text" placeholder=""></textarea></li>
    <li style="height:50px;"><p>Course Level</p><textarea name='course_level' type="text" placeholder=""></textarea></li>
    <li style="height:50px;"><p>Video Link</p><textarea name='video_link' type="text" placeholder=""></textarea></li>
    <li style="height:50px;"><p>Course Duration</p><textarea name='course_duration' type="text" placeholder=""></textarea></li>
    <li style="height:50px;"><p>Course Image</p><textarea name='course_image' type="text" placeholder=""></textarea></li>
    <li style="height:50px;"><input type="submit" value="Create" class="new-course-btn"></button></li>
  </ul>
</form>
</div>
{% endblock %}
