{% extends 'admin_page.html' %}
{% block head %}

{% endblock %}
{% block body %}
{% from "includes/_formHelper.html" import render_field %}
<style>
form{
height:500px;
width:500px;
background-color:red;
margin-left: 300px;
top: 120px;
position: absolute;
}

ul{
list-style-type:none;

}
</style>

<form method="POST">
	<ul style="list-style-type:none;">
		<li style="height:50px;margin-top:20px;"><p>Promo Code</p><textarea name='code' type="text" placeholder="Enter promo code"></textarea></li>
		<li>
			<p>Discount Amount</p>
			<input type="radio" id="percentage" name="type_of_discount" value="Percentage">
			<label for="html">Percentage</label><br>
			<input type="radio" id="discount_amount" name="type_of_discount" value="Discount Amount">
			<label for="css">Fixed Amount</label><br>
			<textarea name='value' type="text" placeholder="Enter discount value"></textarea>
		</li>
		<li>
			<input type="submit" value="Submit" class="btn btn-primary"/>

		</li>
	</ul>

</form>
{% endblock %}
