

{% extends 'admin_page.html' %}
{% block head %}
<title>Admin Page Courses</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_page_courses.css') }}">

{% endblock %}
{% block body %}
<div class="search_courses" >
  <p>All Promo Codes</p>
  <div class="new-course-btn-div">
    <a href="/admin_page/promo_code_form/"><button class="new-course-btn">New Code</button></a>
  </div>

</div>


  <div class="courses-list" style="position:absolute;margin-top:100px;margin-left:220px;">
    <form action='/admin_page/courses/about_course/' id="selected_course_form" method="get">
      <input id="input" type="text" name="selected_courseID" value="" style="display:none;">
      {% for i in range(promo_code_dict|length) %}
      {% set promo_code = promo_code_dict[i] %}
        <div class="courses-list-box">
            <ul class="course-description">
              <br>
              <li class="name" id="name_{{promo_code.name}}">Name of code: {{promo_code.to_dict()['Name']}}</li>
              <li class="description">Value of the code: {{promo_code.to_dict()['Value']}}</li>
              <li class="description">Type of value: {{promo_code.to_dict()['type']}}</li>
            </ul>

          <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:8;">
        </div>


      {% endfor %}


      <script type="text/javascript">
        function submit(id) {
            document.getElementById('input').value = id;
            document.getElementById('selected_course_form').submit();
        }
      </script>
    </form>

  </div>
{% endblock %}
