{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}
<title>Sports Courses</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/selected_course.css') }}">
{% endblock %}

{% block body %}
<div class="popup">
  <div class="popuptext" id="myPopup">

    <h3 style="text-align:center;padding-top:10px;font-family: 'STIXGeneral', serif;font-weight: bold; margin-left:10px;">Successfully added to cart!</h3>
        <img class="course-image" src="{{selected_course.image}}" style="position:absolute;width:140px;height:80px;margin-top:10px;margin-left:10px;" alt="yoga_image" >
        <ul>
          <li class="name" id="name_{{selected_course.name}}" style="font-size: 15px;padding-right:10px;">{{selected_course.name}}</li>
          <li class="trainer" style="font-size: 11px;">{{selected_course.trainer}}</li>
          <li class="rating" style="font-size: 11px;">★{{'%0.1f'| format(selected_course.rating|float)}}</li>
          <li style="font-size: 13px;color: #767676;">{{selected_course.duration}} total hours | For {{selected_course.level}}</li>
        </ul>
        <div class="price_div">
          <p style="font-size: 18px;font-weight: bold;">${{'%0.2f'| format(selected_course.price|float)}}</p>
        </div>
          <ul style="text-align:center;">
            <li style="display:inline-block;">
              <a onclick="close_popup()">
                <div class="cancel-btn">
                Close
                </div>
              </a>
            </li>
            <li style="display:inline-block;">
              <a href="/Shopping Cart/">
                <div class="go-to-cart-btn">
                Go To Cart
                </div>
              </a>
            </li>

          </ul>
  </div>
</div>
<div class="popup2">
  <div class="popuptext2" id="myPopup2">
  </div>
</div>
<div class="course_overview_div">
  <h2>{{selected_course.name}}</h2>
  <br>
  <ul>
    <li class="short_description">{{selected_course.short_description}}</li>
    <li class="trainer" style="color:white;">{{selected_course.trainer}}</li>
    <li class="trainer" style="font-weight:light;color:#AFADAD;">{{selected_course.duration}} total mins | For {{selected_course.level}}</li>
    <li class="rating">★{{'%0.1f'| format(selected_course.rating|float)}} <p style="color:#AFADAD;display:inline-block;font-size:14px;">| {{selected_course.students_count}} students are enrolled</p></li>
  </ul>
</div>
<div class="course_purchase_div" onload="load_image()">

  <img onload="" id="course_image" src="{{selected_course.image}}" style="width:280px;height:180px;" alt="">
  <h4 style="font-weight:bold;">${{'%0.2f'| format(selected_course.price|float)}}</h4>
  <form class="" action="" method="post">
    <button class="add_to_cart_btn" type="button" name="button" onclick="add_to_cart()">Add to cart</button>
    <button class="buy_now_btn" type="button" name="button" onclick="buy_now()">Buy now</button>
    <!--<button class="buy_now_btn" type="button" name="button" onclick="load_image()">Buy now</button>-->

  </form>
  <form id="courseID_form" action="/Checkout_instant/" method="get">
    <input style="display:none;" type="text" id="courseID" name="courseID" value="">
  </form>

  <br>
  <p style="font-weight:bold;">What you will learn</p>
  <p>{{selected_course.learning_outcome}}</p>
</div>
<div class="course_description_div">
<h4>Description</h4>
<p>{{selected_course.description}}</p>
<br>
<h4>Review</h4>
{% for review in selected_course.reviews %}
<div id="review_div">
  <script type="text/javascript">
    function close_popup(){
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    function go_to_cart() {

    }

    const review_json = JSON.parse('{{review|tojson}}');
    document.getElementById('review_div').innerHTML = "<p>"+review_json.reviewer+"</p>" + "<p>"+review_json.rating+"</p>" +"<p>"+review_json.review+"</p>"

    function add_to_cart() {
      var username = '{{current_username}}';
      db.collection("Users").where("username", "==", username)
      .get()
      .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
              // doc.data() is never undefined for query doc snapshots
              db.collection("Users").doc(doc.id).update(
                {
                  shopping_cart:firebase.firestore.FieldValue.arrayUnion("{{selected_course.courseID}}")

                }
              )
              .then(() => {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
              })
          });

      })
      .catch((error) => {
          alert(error);
      });
    }


    function buy_now() {
      document.getElementById('courseID').value = '{{selected_course.courseID}}';
      document.getElementById('courseID_form').submit();
    }
  </script>
  <p id="reviewer"></p>
</div>

{% endfor %}

</div>
<script type="text/javascript">
  function load_image() {
    var courseID = '{{selected_course.courseID}}';
    storage.ref().child('courses/image_of_'+courseID).getDownloadURL().then(function(url) {
            document.getElementById('course_image').src = url;
         }).catch(function(error) {

         });
  }
  //window.onload = load_image;
</script>
{% endblock %}
