{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}
<title>Sports Products</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/selected_product.css') }}">
<script src="{{url_for('static', filename='Javascript/feature.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="image" onload="load_image()">
    <img onload="" id="product_image" src="{{selected_product.image}}" style="width:550px;height:480px;" alt="">
  </div>
  <div class="details">
    <h4>{{selected_product.name}}</h4>
    <p class="category">{{selected_product.category}}</p>
    <p class="price">${{'%0.2f'| format(selected_product.price|float)}}</p>
    <p class="quantity">Quantity:</p>
    <input id="options" type="number" placeholder="Quantity" min="1" value="1">
    <button class="btn" type="button" name="button" onclick="add_to_cart();">Add to cart</button>
    <p class="">{{selected_product.description}}</p>
    <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:25px;margin-bottom:25px;">
    <h4 style="margin-bottom:12px;">Reviews</h4>
    <div id="review_div">
    </div>
    <a href=""><p style="position:relative;top:-191px;margin-left:355px;">Write a Review</p></a>
  </div>
</div>
<script type="text/javascript">
  function add_to_cart() {
    db.collection("Users").where("username", "==", '{{current_username}}')
    .get()
    .then((querySnapshot) => {
      console.log("here");
        querySnapshot.forEach((doc) => {
            // doc.data() is never undefined for query doc snapshots
            console.log(doc);
            db.collection("Users").doc(doc.id).update(
              {
                shopping_cart:firebase.firestore.FieldValue.arrayUnion("{{selected_product.productID}}")

              }
            )
            .then(() => {
              alert("Successfully added to cart!");
            })
        });

    })
    .catch((error) => {
        console.log("Error getting documents: ", error);
    });

  }
</script>







<script type="text/javascript">
  function load_image() {
    var productID = '{{selected_product.productID}}';
    storage.ref().child('products/image_of_'+productID).getDownloadURL().then(function(url) {
            document.getElementById('product_image').src = url;
         }).catch(function(error) {

         });
  }
  //window.onload = load_image;
</script>

{% endblock %}
