{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}
<title>Shopping Cart</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shopping_cart.css') }}">
<script src="{{url_for('static', filename='Javascript/feature.js')}}"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
  function remove_course(courseID){
    var currentUser = '{{current_username}}';
    db.collection("Users").where("username", "==", currentUser)
    .get()
    .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
            db.collection("Users").doc(doc.id).update(
            {
              shopping_cart:firebase.firestore.FieldValue.arrayRemove(courseID)
            })
            .then(() => {
              alert("Successfully removed from cart!");
              location.reload();
            })
        });
    })

  }

  window.addEventListener('load', function() {
    var courses_cart = JSON.parse({{courseID_array|tojson}});
    var products_cart = JSON.parse({{productID_array|tojson}});
    var shopping_cart = courses_cart.concat(products_cart);
    var total_price = 0
    for (var i = 0; i < shopping_cart.length; i++) {
      if (true) {
      }
      var id = shopping_cart[i];
      if (id.substring(0,2)=="CR") {
        db.collection("Courses").where("courseID", "==", id).get()
        .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              total_price += parseFloat(doc.data()['price']);
              document.getElementById('total_cost').innerHTML = "S$"+String(total_price.toFixed(2));
            });
        })
      } else {
        db.collection("Products").where("productID", "==", id).get()
        .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              total_price += parseFloat(doc.data()['price']);
              document.getElementById('total_cost').innerHTML = "S$"+String(total_price.toFixed(2));
            });
        })
      }

    }

  })
</script>
<div class="shopping_cart_page">
  <div class="shopping_cart_title">
    <h1 style="font-family: 'STIXGeneral', serif;font-weight: bold;">Shopping Cart</h1>
    <br>
  </div>
  {% if (courses_cart|length+products_cart|length) == 0 %}
  <div class="empty_cart_div">
    <img src="../static/images/empty-cart.svg" style="width:40%;min-width:300px;max-width:350px;display:inline-block">

    <h3 style="margin-top:20px;">Your shopping cart is empty</h3>
  </div>

  </div>
  {% elif (courses_cart|length) == 0 %}
  <div class="products_cart_div">
    <p style="font-size:19px;">{{products_cart|length}} Item(s) in Cart</p>
    {% for i in range(products_cart|length) %}
    {% set product = products_cart[i] %}
    <div class="course_overview_div">
        <img class="course-image" src="{{product.image}}" style="position:absolute;width:140px;height:80px;margin-top:10px;margin-left:10px;" alt="yoga_image" >
        <ul>
          <li class="name" id="name_{{product.name}}" style="font-size: 15px;padding-right:10px;">{{product.name}}</li>
          <li style="font-size:13px;position:absolute;top:70px;color:grey;">Quantity:</li>
        </ul>
        <div class="price_div">
          <p style="font-size: 18px;font-weight: bold;">${{'%0.2f'| format(product.price|float)}}</p>
          <button id="remove_btn" onclick="remove_course('{{product.productID}}')"><img src="../static/images/trashcan.png" style="width:10px;display:inline-block"> Remove</button>
        </div>

    </div>
    {% endfor %}
  </div>
  <div class="checkout_div">
    <p style="font-size:19px;font-weight:300;margin-bottom:0px;">Total:</p>
    <h1 id="total_cost"></h1>
    <a href="/Checkout/" class="checkout_btn" type="button" name="button">Checkout</a>
    <!--<button class="checkout_btn" type="button" name="button">Checkout</button>-->
    <br>
    <p style="font-size:15px;font-weight:600;">Promotions</p>
    <input type="text" id="search_input" name="search_input" placeholder="Enter promo code">
    <button id="apply_btn" onclick="check_promocode()">Apply</button>
  {% elif (products_cart|length) == 0 %}
  <div class="courses_cart_div" id="courses_cart_div">
    <p style="font-size:19px;">{{courses_cart|length}} Course(s) in Cart</p>

    {% for i in range(courses_cart|length) %}
    {% set course = courses_cart[i] %}
    <div class="course_overview_div">
        <img class="course-image" src="{{course.image}}" style="position:absolute;width:140px;height:80px;margin-top:10px;margin-left:10px;" alt="yoga_image" >
        <ul>
          <li class="name" id="name_{{course.name}}" style="font-size: 15px;padding-right:10px;">{{course.name}}</li>
          <li class="trainer" style="font-size: 11px;">{{course.trainer}}</li>
          <li class="rating" style="font-size: 11px;">★{{'%0.1f'| format(course.rating|float)}}</li>
          <li style="font-size: 13px;color: #767676;">{{course.duration}} total hours | For {{course.level}}</li>
        </ul>
        <div class="price_div">
          <p style="font-size: 18px;font-weight: bold;">${{'%0.2f'| format(course.price|float)}}</p>
          <button id="remove_btn" onclick="remove_course('{{course.courseID}}')"><img src="../static/images/trashcan.png" style="width:10px;display:inline-block"> Remove</button>
        </div>

    </div>
    {% endfor %}
  </div>
  <div class="checkout_div">
    <p style="font-size:19px;font-weight:300;margin-bottom:0px;">Total:</p>
    <h1 id="total_cost"></h1>
    <a href="/Checkout/" class="checkout_btn" type="button" name="button">Checkout</a>
    <!--<button class="checkout_btn" type="button" name="button" href="/Checkout/">Checkout</button>-->
    <br>
    <p style="font-size:15px;font-weight:600;">Promotions</p>
    <input type="text" id="search_input" name="search_input" placeholder="Enter promo code">
    <button id="apply_btn" onclick="check_promocode()">Apply</button>
  </div>
  {% else %}
  <div class="courses_cart_div" id="courses_cart_div">
    <p style="font-size:19px;">{{courses_cart|length}} Course(s) in Cart</p>

    {% for i in range(courses_cart|length) %}
    {% set course = courses_cart[i] %}
    <div class="course_overview_div">
        <img class="course-image" src="{{course.image}}" style="position:absolute;width:140px;height:80px;margin-top:10px;margin-left:10px;" alt="yoga_image" >
        <ul>
          <li class="name" id="name_{{course.name}}" style="font-size: 15px;padding-right:10px;">{{course.name}}</li>
          <li class="trainer" style="font-size: 11px;">{{course.trainer}}</li>
          <li class="rating" style="font-size: 11px;">★{{'%0.1f'| format(course.rating|float)}}</li>
          <li style="font-size: 13px;color: #767676;">{{course.duration}} total hours | For {{course.level}}</li>
        </ul>
        <div class="price_div">
          <p style="font-size: 18px;font-weight: bold;">${{'%0.2f'| format(course.price|float)}}</p>
          <button id="remove_btn" onclick="remove_course('{{course.courseID}}')"><img src="../static/images/trashcan.png" style="width:10px;display:inline-block"> Remove</button>
        </div>

    </div>
    {% endfor %}
  </div>
  <div class="products_cart_div">
    <p style="font-size:19px;">{{products_cart|length}} Item(s) in Cart</p>
    {% for i in range(products_cart|length) %}
    {% set product = products_cart[i] %}
    <div class="course_overview_div">
        <img class="course-image" src="{{product.image}}" style="position:absolute;width:140px;height:80px;margin-top:10px;margin-left:10px;" alt="yoga_image" >
        <ul>
          <li class="name" id="name_{{product.name}}" style="font-size: 15px;padding-right:10px;">{{product.name}}</li>
          <li style="font-size:13px;position:absolute;top:70px;color:grey;">Quantity:</li>
        </ul>
        <div class="price_div">
          <p style="font-size: 18px;font-weight: bold;">${{'%0.2f'| format(product.price|float)}}</p>
          <button id="remove_btn" onclick="remove_course('{{product.productID}}')"><img src="../static/images/trashcan.png" style="width:10px;display:inline-block"> Remove</button>
        </div>

    </div>
    {% endfor %}
  </div>
  <div class="checkout_div">
    <p style="font-size:19px;font-weight:300;margin-bottom:0px;">Total:</p>
    <h1 id="total_cost"></h1>
    <a href="/Checkout/" class="checkout_btn" type="button" name="button">Checkout</a>
    <!--<button class="checkout_btn" type="button" name="button" href="/Checkout/">Checkout</button>-->
    <br>
    <p style="font-size:15px;font-weight:600;">Promotions</p>
    <input type="text" id="search_input" name="search_input" placeholder="Enter promo code">
    <button id="apply_btn" onclick="check_promocode()">Apply</button>
  </div>
  {% endif %}


</div>

{% endblock %}
