<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spedu Sign Up</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/ktl0fuq.css">
  <link rel="stylesheet" href="../static/css/basicnavbar.css">
  <link rel="stylesheet" href="../static/css/signup3.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>
</head>
<body>
  <div class="background">
    {% block navbar %}
      {% include 'includes/_basicnavbar.html' %}
    {% endblock %}
    <div class="right">
      <div class="vertical-center">
        <div class="register">
          <div class="registerContent">
            <h1>Sign up</h1>
            <div class="row formnav">
              <div class="tab1">
                <h3>Account Details</h3>
              </div>
              <div class="tab2">
                <h3>Security Questions</h3>
              </div>
              <div class="tab3">
                <h3>Personal Info</h3>
              </div>
            </div>
            <br>
            <form method="POST">
              {% from "includes/_formHelper.html" import render_field %}
              <div class="row name">
                <div class="form-group col first_name">
                  {{ render_field(form.first_name, class="form-control") }}
                </div>
                <div class="form-group col last_name">
                  {{ render_field(form.last_name, class="form-control") }}
                </div>
              </div>
              <div class="row address_group">
                <div class="form-group col-8 address">
                  {{ render_field(form.address, class="form-control") }}
                </div>
                <div class="form-group col-4 unit_no">
                  {{ render_field(form.unit_no, class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                {{ render_field(form.postal, class="form-control") }}
              </div>
              <div class="form-group">
                {{ render_field(form.country, class="form-control") }}
              </div>
              <div class="form-group">
                {{ render_field(form.phone, class="form-control") }}
              </div>
              <div class="d-flex flex-row buttons">
                <div class="skip">
                  <a href="/signup3"><input type="button" name="" value="SKIP" class="skip"></a>
                </div>
                <div class="next">
                  <input type="submit" value="NEXT STEP" class="text-center btn btn-primary next">
                </div>
              </div>
            </form>
            <p id="signin">Already Have An Account? <a class="" href="/signin">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
