<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spedu Sign Up</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/basicnavbar.css">
  <link rel="stylesheet" href="../static/css/signup2.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js"></script>
</head>
<body>
  {% from "includes/_formHelper.html" import render_field %}
  <div class="background">
    {% block navbar %}
      {% include 'includes/_basicnavbar.html' %}
    {% endblock %}
    <div class="right">
      <div class="vertical-center">
        <div class="register">
          <div class="registerContent">
            <h1>Sign up</h1>
            <div class="row formnav">
              <div class="tab1">
                <h3>Account Details</h3>
              </div>
              <div class="tab2">
                <h3>Security Questions</h3>
              </div>
              <div class="tab3">
                <h3>Personal Info</h3>
              </div>
            </div>
            <br>
            <form method="POST">
              <div class="form-group">
                {{ render_field(form.qns1, class="form-control") }}
              </div>
              <div class="form-group">
                {{ render_field(form.ans1, class="form-control") }}
                <svg xmlns="http://www.w3.org/2000/svg" width="38.432" height="22.419" viewBox="0 0 38.432 22.419" id="show1">
                  <path id="show_pass" data-name="show pass" d="M19.24,8.2c7.608,0,12.912,4.823,15.219,7.424-2.243,2.942-7.547,8.59-15.219,8.59-7.078,0-12.7-5.662-15.177-8.658C6.453,12.92,11.776,8.2,19.24,8.2Zm0-3.2C7.12,5,0,15.49,0,15.49S7.742,27.419,19.24,27.419c12.383,0,19.192-11.928,19.192-11.928S31.561,5,19.24,5Zm-.024,8.007a3.2,3.2,0,1,1-3.2,3.2A3.206,3.206,0,0,1,19.216,13.007Zm0-3.2a6.405,6.405,0,1,0,6.405,6.405A6.407,6.407,0,0,0,19.216,9.8Z" transform="translate(0 -5)"/>
                </svg>
              </div>
              <div class="form-group">
                {{ render_field(form.qns2, class="form-control") }}
              </div>
              <div class="form-group">
                {{ render_field(form.ans2, class="form-control") }}
              </div>
              <div class="form-group">
                {{ render_field(form.qns3, class="form-control") }}
              </div>
              <div class="form-group">
                {{ render_field(form.ans3, class="form-control") }}
              </div>
              <input class="text-center" type="submit" value="NEXT STEP" class="btn btn-primary"/>
            </form>
            <p>Already Have An Account? <a class="" href="/signin">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var qns1_select = document.getElementById('qns1');
    var qns2_select = document.getElementById('qns2');
    var qns3_select = document.getElementById('qns3');
    var options = {'': 'Select', 'cityBorn': 'In what city were you born?', 'petName': 'What is the name of your favourite pet?', 'mumName': "What is your mother's maiden name?", 'highSchool': 'What high school did you attend?', 'firstSchool': 'What is the name of your first school?', 'car': 'What was the make of your first car?', 'food': 'What was your favourite food as a child?', 'spouse': 'Where did you meet your spouse?'};
    // function updateOptions() {
    //   console.log("test");
    //   var qns1 = qns1_select.value;
    //   var qns2 = qns2_select.value;
    //   var qns3 = qns3_select.value;
    //   var newoptions = options;
    //   delete newoptions[qns1];
    //   delete newoptions[qns2];
    //   delete newoptions[qns3];
    //   var optionHTML = "";
    //   for (var i in newoptions) {
    //     optionHTML += '<option value="' + i + '">' + newoptions[i] + '</option>';
    //   }
    //   qns1_select.innerHTML = (optionHTML += '<option value="' + qns1_select.value + '">' + options[qns1_select.value] + '</option>');
    //   qns2_select.innerHTML = (optionHTML += '<option value="' + qns2_select.value + '">' + options[qns2_select.value] + '</option>');
    //   qns3_select.innerHTML = (optionHTML += '<option value="' + qns3_select.value + '">' + options[qns3_select.value] + '</option>');
    // }
    // qns1_select.onchange = updateOptions()
    // qns2_select.onchange = updateOptions()
    // qns3_select.onchange = updateOptions()
    qns1_select.onchange = function() {
      var qns1 = qns1_select.value;
      var qns2 = qns2_select.value;
      var qns3 = qns3_select.value;
      var newoptions = {'cityBorn': 'In what city were you born?', 'petName': 'What is the name of your favourite pet?', 'mumName': "What is your mother's maiden name?", 'highSchool': 'What high school did you attend?', 'firstSchool': 'What is the name of your first school?', 'car': 'What was the make of your first car?', 'food': 'What was your favourite food as a child?', 'spouse': 'Where did you meet your spouse?'};
      delete newoptions[qns1];
      delete newoptions[qns2];
      delete newoptions[qns3];
      var optionHTML = "";
      // var optionHTML = ['<option selected="" value="">Select</option>'];
      for (var i in newoptions) {
        optionHTML += '<option value="' + i + '">' + newoptions[i] + '</option>';
      }
      qns1_select.innerHTML = ('<option value="' + qns1_select.value + '">' + options[qns1_select.value] + '</option>' + optionHTML);
      qns2_select.innerHTML = ('<option value="' + qns2_select.value + '">' + options[qns2_select.value] + '</option>' + optionHTML);
      qns3_select.innerHTML = ('<option value="' + qns3_select.value + '">' + options[qns3_select.value] + '</option>' + optionHTML);
    }
    qns2_select.onchange = function() {
      var qns1 = qns1_select.value;
      var qns2 = qns2_select.value;
      var qns3 = qns3_select.value;
      var newoptions = {'cityBorn': 'In what city were you born?', 'petName': 'What is the name of your favourite pet?', 'mumName': "What is your mother's maiden name?", 'highSchool': 'What high school did you attend?', 'firstSchool': 'What is the name of your first school?', 'car': 'What was the make of your first car?', 'food': 'What was your favourite food as a child?', 'spouse': 'Where did you meet your spouse?'};
      delete newoptions[qns1];
      delete newoptions[qns2];
      delete newoptions[qns3];
      var optionHTML = "";
      // var optionHTML = ['<option selected="" value="">Select</option>'];
      for (var i in newoptions) {
        optionHTML += '<option value="' + i + '">' + newoptions[i] + '</option>';
      }
      qns1_select.innerHTML = ('<option value="' + qns1_select.value + '">' + options[qns1_select.value] + '</option>' + optionHTML);
      qns2_select.innerHTML = ('<option value="' + qns2_select.value + '">' + options[qns2_select.value] + '</option>' + optionHTML);
      qns3_select.innerHTML = ('<option value="' + qns3_select.value + '">' + options[qns3_select.value] + '</option>' + optionHTML);
    }
    qns3_select.onchange = function() {
      var qns1 = qns1_select.value;
      var qns2 = qns2_select.value;
      var qns3 = qns3_select.value;
      var newoptions = {'cityBorn': 'In what city were you born?', 'petName': 'What is the name of your favourite pet?', 'mumName': "What is your mother's maiden name?", 'highSchool': 'What high school did you attend?', 'firstSchool': 'What is the name of your first school?', 'car': 'What was the make of your first car?', 'food': 'What was your favourite food as a child?', 'spouse': 'Where did you meet your spouse?'};
      delete newoptions[qns1];
      delete newoptions[qns2];
      delete newoptions[qns3];
      var optionHTML = "";
      // var optionHTML = ['<option selected="" value="">Select</option>'];
      for (var i in newoptions) {
        optionHTML += '<option value="' + i + '">' + newoptions[i] + '</option>';
      }
      qns1_select.innerHTML = ('<option value="' + qns1_select.value + '">' + options[qns1_select.value] + '</option>' + optionHTML);
      qns2_select.innerHTML = ('<option value="' + qns2_select.value + '">' + options[qns2_select.value] + '</option>' + optionHTML);
      qns3_select.innerHTML = ('<option value="' + qns3_select.value + '">' + options[qns3_select.value] + '</option>' + optionHTML);
    }
    var show1 = new SVGMorpheus("#show1");
  </script>
</body>
</html>
