{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}
<title>Sports Courses</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sports_courses.css') }}">


{% endblock %}

{% block body %}
    <div class="course-panel">
        <ul>
          <li><h3 style="font-family: 'STIXGeneral', serif;font-weight: bold;">Sports Course</h3></li>
          <li>
            <label for="dropdown" style="font-size:14px;font-weight:bold;">Sort by : </label>
            <div class="dropdown" >
              <button class="dropbtn" id="dropbtn">Popularity</button>
              <div class="dropdown-content">
                  <a onclick="sort(0)">Popularity</a>
                  <a onclick="sort(2)">Price low to high</a>
                  <a onclick="sort(3)">Rating high to low</a>
              </div>
            </div>
          </li>
        </ul>
    </div>
    <div class="view-courses">
      <div class="course-filter">
        <ul>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Ratings</h6>
          </li>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Price</h6>
          </li>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Levels</h6>
          </li>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Video Duration</h6>
          </li>
        </ul>
      </div>
      <div class="courses-list">
      <form action='/sports_courses/about_course/' id="selected_course_form" method="get">
        <input id="input" type="text" name="selected_courseID" value="" style="display:none;">
        {% for i in range(courses|length) %}
        {% set course = courses[i] %}
        <a onclick="submit('{{course.courseID}}')">
          <div class="courses-list-box">
              <img class="course-image" src="../static/images/yoga_image.png" style="width:auto;height:140px;" alt="yoga_image" >
              <ul class="course-description">
                <li class="name" id="name_{{course.name}}">{{course.name}}</li>
                <li class="description">{{course.short_description}}</li>
                <li class="trainer">{{course.trainer}}</li>
                <li class="trainer" style="color:#1E5D63;font-weight:bold;">{{course.duration}} total hours | For {{course.level}}</li>
                <li class="rating">★{{'%0.1f'| format(course.rating|float)}}</li>
              </ul>
              <div class="price">${{'%0.2f'| format(course.price|float)}}</div>
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:10px;margin-bottom:8;">
          </div>
        </a>
        {% endfor %}


        <script type="text/javascript">
          function submit(id) {
              document.getElementById('input').value = id;
              document.getElementById('selected_course_form').submit();
          }
        </script>
      </form>
      </div>
    </div>

{% endblock %}
