{% if login_stat_html is sameas true %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}
{% endblock %}

{% block body %}


<style>
#brands {
    background: #ff523b;
    color: #fff;
    padding: 8px 10px;
    border-radius: 30px;
    border: none;
    width: 70px;
    height: 27px;
    transition: background 0.5s;
    font-size: 12px;
    position: relative;
    margin-left: 50px;
    top: 12px;
    left: 550px;
}

#brands:hover {
    background: #563434;
}

#tag {
    position: relative;
    top: 50px;
    margin-left: 550px;
}

#sort {
     position: fixed;
     top: 125px;
     margin-left: 200px;
}

#drop {
     position: relative;
     top: 82px;
     margin-left: 135px;
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 4px;
  margin-left: 5px;
  margin-top: 78px;
  font-size: 14px;
  cursor: pointer;
  border-width: thin;
}

.dropdown {
  position: absolute;
  display: inline-block;
  font-size: 14px;
}

#labels {
  margin-left: 250px;
  position: relative;
  top: 82px;
}

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.3%;
  padding: 70px 0px 0px 20px;
}

.column img {
  width: 380px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#design-cast {
    position: relative;
    overflow: hidden;
}

.member {
    float: left;
    width: 20%;
    margin: 3% 1% 70px 3.25%;
}

.name {
    position: absolute;
    bottom: 0px;
}

.member img {
    width: 100%;
    display: block;
}



</style>
<div class ="tags">
    <label for="dropdown" id="labels" style="font-size:14px;font-weight:bold;">Sort by : </label>
    <div class="dropdown">
        <button class="dropbtn" id="dropbtn">Default</button>
        <div class="dropdown-content">
            <a onclick="sort(0)">Default</a>
            <a onclick="sort(1)">Popularity</a>
            <a onclick="sort(2)">Price low to high</a>
            <a onclick="sort(3)">Rating high to low</a>
        </div>

    </div>

    <p id="tag">Tags:</p>
    <a href=""><button id ="brands">Nike</button></a>
    <a href=""><button id ="brands">Adidas</button></a>
    <a href=""><button id ="brands">Puma</button></a>
    <a href=""><button id ="brands">Reebok</button></a>

<div id="design-cast">
    <div class="member">
        <a href=""><img id="jordan-zoom" src="../static/images/jordan-zoom.jpg" alt="Spedu"></a>
        <div class="name">Jordan Zoom Separate PF
            <br>Basketball Shoes
            <br>$179
        </div>
    </div>
    <div class="member">
        <a href=""><img id="kyrie-infinity" src="../static/images/kyrie-infinity.jpg" alt="Spedu"></a>
        <div class="name">Kyrie Infinity EP
            <br>Basketball Shoes
            <br>$209
        </div>
    </div>
    <div class="member">
        <a href=""><img id="renew-elevate" src="../static/images/renew-elevate.jpg" alt="Spedu"></a>
        <div class="name">Nike Renew Elevate 2
            <br>Basketball Shoes
            <br>$129
        </div>
    </div>
    <div class="member">
        <a href=""><img id="giannis-immortality" src="../static/images/giannis-immortality.jpg" alt="Spedu"></a>
        <div class="name">Giannis Immortality
            <br>Basketball Shoes
            <br>$129
        </div>
    </div>
</div>
</div>
<div id="design-cast">
<div class="member">
        <a href=""><img id="nike tack" src="../static/images/nike tack.jpg" alt="Spedu"></a>
        <div class="name">Nike Versa Tack
            <br>Basketball
            <br>$45

        </div>
    </div>
    <div class="member">
        <a href=""><img id="elite championship" src="../static/images/elite-championship.jpg" alt="Spedu"></a>
        <div class="name">Nike Elite Championship 8P
            <br>Basketball
            <br>$26
        </div>
    </div>
    <div class="member">
        <a href=""><img id="nike 8p" src="../static/images/nike 8p.jpg" alt="Spedu"></a>
        <div class="name">Nike Versa Tack 8P
            <br>Basketball
            <br>$45
        </div>
    </div>
    <div class="member">
        <a href=""><img id="nike revival" src="../static/images/nike revival.jpg" alt="Spedu"></a>
        <div class="name">Nike Revival 8P
            <br>Basketball
            <br>$20
        </div>
    </div>
</div>
<div id="design-cast">
    <div class="member">
        <a href=""><img id="headband" src="../static/images/nike headband.jpg" alt="Spedu"></a>
        <div class="name">Nike Jordan Jumpman Headband
            <br>Accessories
            <br>$12
        </div>
    </div>
    <div class="member">
        <a href=""><img id="lebron" src="../static/images/lebron.jpg" alt="Spedu"></a>
        <div class="name">LeBron
            <br>Accessories
            <br>$125
        </div>
    </div>
    <div class="member">
        <a href=""><img id="nike heritage" src="../static/images/nike heritage.jpg" alt="Spedu"></a>
        <div class="name">Nike Heritage86
            <br>Accessories
            <br>$25
        </div>
    </div>
    <div class="member">
        <a href=""><img id="jordan beanie" src="../static/images/jordan beanie.jpg" alt="Spedu"></a>
        <div class="name">Jordan
            <br>Accessories
            <br>$39
        </div>
    </div>
</div>
{% endblock %}