{% if current_user.is_authenticated %}
    {% extends 'base_signed_in.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block head %}
<title>Sports Products</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/store_searchpage.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}

<div class="product-panel">
        <ul>
          <li><h3 style="font-family: 'STIXGeneral', serif;font-weight: bold;">Sports Product</h3></li>
          <li>
            <label for="dropdown" style="font-size:14px;font-weight:bold;">Sort by : </label>
            <div class="dropdown" >
              <button class="dropbtn" id="dropbtn">Default</button>
              <div class="dropdown-content">
                  <a onclick="sort('default')">Default</a>
                  <a onclick="sort('price high to low')">price high to low</a>
                  <a onclick="sort('price low to high')">price low to high</a>
              </div>
              <form action='/store_searchpage/' id="sort_attr_form" method="get">
              <input id="sort_attr" type="text" name="sort_attr" value="" style="display:none;">
              </form>
              <script type="text/javascript">
                function sort(sort_attr) {
                  document.getElementById('sort_attr').value = sort_attr;
                  document.getElementById('sort_attr_form').submit();
                  // $( "#products-list" ).load(window.location.href + " #products-list" );
                }
              </script>
            </div>
          </li>
        </ul>
    </div>
    <div class="view-products">
      <div class="product-filter">
        <ul>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Ratings</h6>
          </li>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Price</h6>
          </li>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Levels</h6>
          </li>
          <li style="">
            <hr style="background-color: #eee;border:none;color: #eee;height: 2px;margin-top:5px;margin-bottom:0;">
            <h6>Video Duration</h6>
          </li>
        </ul>
      </div>


<div class="products-list" id="products-list"style="position:absolute;margin-top:100px;margin-left:220px;">
  <form action='/spedu_store/about_product/' id="selected_product_form" method="get">
    <input id="input" type="text" name="selected_productID" value="" style="display:none;">
        {% for i in range(products|length) %}
        {% set product = products[i] %}
      <a onclick="submit('{{product.productID}}')">
        <div class="products-list-box">
            <img class="image" id="jordan-zoom" src="../../static/images/jordan-zoom.png" alt="Spedu">
            <h5 class="name">{{products[i].name}}</h5>
            <p class="category">{{products[i].category}}</p>
            <p class="price">${{'%0.2f'| format(products[i].price|float)}}</p>
        </div>
      </a>
        {% endfor %}
  <script type="text/javascript">
          function submit(id) {
              document.getElementById('input').value = id;
              document.getElementById('selected_product_form').submit();
          }
  </script>

  </form>
</div>
    </div>
{% endblock %}