.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.userBox {
  border-style: solid;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.sideBar {
  border-style: solid;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.userInfo {
  margin: auto;
}
