html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.accountLeft {
  padding-right: 5%;
}
.userBox {
  border-style: solid;
  border-color: #37A9B4;
  border-width: 1px;
  max-width: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 125px;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px 50px;
}
.sideBar {
  border-style: solid;
  border-color: #37A9B4;
  border-width: 1px;
  max-width: 300px;
  max-height: 200px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  top: 0;
  padding-left: 0;
  padding-right: 0;

}
.sideBar a {
  text-decoration: none;
  color: #1E5D63;
  padding: 10px 0;
  padding-left: 10px;
}
.sideBar a:hover {
  background-color: #f8f9fa;
}
.userInfo {
  margin-top: 120px;
  margin-left: 0;
  margin-right: auto;
  max-width: 900px;
}
