body p {
  font-size: 17px;
}
.about_course_div {
  position: absolute;
  margin-left: 200px;
  margin-top: 50px;
  width: calc(100% - 200px);
  height: auto;
   overflow-y: scroll;
}
.course_overview_div{
  background-color: #EAEAEA;
  height: 300px;
  width: calc(100% - 400px);
  padding-left: 400px;
  padding-top: 50px;
  padding-right: 50px;
  color: black;
  position: absolute;

}
.course_purchase_div{
  position: absolute;
  background-color: white;
  height: 500px;
  width: 280px;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);

}
.course_purchase_div h4 {
  margin-top: 15px;
  margin-left: 5px;
}
.add_to_cart_btn{
  height: 40px;
  width: 280px;

  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  padding-right: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #297F87;
  border: 2px solid #297F87;

}
.add_to_cart_btn:hover{
  text-decoration: none;
  background-color: #1D5E64;
  color: white;
}
.buy_now_btn{
  height: 40px;
  width: 280px;

  text-decoration: none;
  display: block;
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  padding-right: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: red;
  background-color: white;
  border: 1px solid red;

}
.buy_now_btn:hover{
  text-decoration: none;
  background-color: red;
  color: white;
}

.course_description_div{
  height: auto;
  overflow: hidden;
  width: calc(100%-400px);
  margin-left: 380px;
  margin-top: 300px;
  padding-left: 20px;
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.short_description {
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.trainer {
  font-size: 17px;
}
.rating {
  font-size: 17px;
  color:#EBC805;
}
#review_div {
  width: calc(80%-400px);
  height: 150px;
  margin-top: 15px;
  background-color: white;
  border-radius:20px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
