
.search_courses{
top:50px;
left:220px;
position:fixed;
width:calc(100% - 220px);
}
.search_courses p {
    width: auto;
    display:inline-block;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
}
.search_bar {
  border-radius: 20px;
  padding-bottom: 5px;
  height:30px;
  width: 400px;
  margin-left: 15px;
  background-color: white;
  border: 1px solid #919191;
}
#magnifying_glass {
  height: 15px;
  margin-left: 10px;
}
.search_bar input{
  border:none;
  width:85%;
  font-size: 14px;
  height:35px;
  background-color: transparent;
}
.search_bar input:focus {
  outline:none;
}
.new-course-btn-div{
  float: right;
  display: inline-block;
}
.new-course-btn {
  height: 40px;
  width: 140px;

  text-decoration: none;
  display: block;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #1E5D63;
  border: 2px solid #1E5D63;

}
.new-course-btn:hover{
  text-decoration: none;
  background-color: white;
  color: #1E5D63;
}
.courses-list {
  top: 40px;
  bottom:0;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 20px;
  width:calc(100% - 220px);
}
.courses-list-box {
  width: auto;
  height: 140px;
  margin-top: 20px;
}
.courses-list-box a{
  color: black;
}
.course-img {
  margin-top: 10px;
  display: inline-block;
  overflow: auto;
}
.course-description {
  padding-left: 15px;
  margin-right: 20px;
  width: 600px;
  display: inline-block;
  overflow: auto;
  position: absolute;
}
.name {
  font-size: 18px;
  font-weight: bold;
}
.description {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.trainer {
  font-size: 13px;
}
.rating {
  font-size: 15px;
  color:#EBC805;
}
.price {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 90px;
  position: absolute;
  right: 0px;
  padding-left: 0px;
}
