html, body {
  height: 100%;
  margin: 0;
}
.menu {
  height: 100%;
  width: 200px;
  margin-top: 50px;
  float: left;
  position: fixed;
  background-color:#297F87;
}
ul {
  list-style-type: none;
}
.userBox {
  margin-top: 50px;
  text-align: center;
  color: white;
}
.userBox p {
  margin-bottom: 0;
}
#crown {

}
#menuAccountType {

}
#menuUsername {
  font-family: open-sans, sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.sideBar {
  margin-top: 20px;
}
.menu ul {
  list-style-type: none;
  padding: 0;
}
.option {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}
.menu a {
  text-decoration: none;
}
.option h4 {
  display: inline;
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: 600;
  font-size: 22px;
}
#selected {
  background-color: #1E5D63;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
}
.signout {

}
#signout {
  display: inline;
  color: white;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.horizontal {
  display: inline-block;
}
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  z-index: 100;
}
.back-to-homepage {
  display: inline-block;
  text-align: center;
  float: left;
  position: absolute;
  margin-top: 17px;
  margin-left: 20px;
  font-size: 17px;
  font-weight:600;
}
.logo-div {
  width: 100%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
#logo {
  height: 60px;
}
