
#package-ad-banner{
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

.btn-group button {
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-left:30px;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: black;
  color: white;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.products-list {
  top: 300px;
  bottom:0;
  position: fixed;
  overflow- x: hidden;

}
.products-list::after {
  content: "";
  clear: both;
  display: table;
}

.products-list-box {
  float: left;
  width: 33.33%;
}

.name {
  font-size:15px;
  margin-left:100px;
  margin-top:30px;
}

.category {
  font-size:13px;
  color:grey;
  margin-left:100px;
}

.price {
  font-size:13px;
  font-weight:480;
  margin-left:100px;
  margin-bottom:100px;
}

.featured-products {
  top: 1000px;
  left:100px;
  bottom:0;
  padding-right: 150px;
  position: fixed;
}

.featured-products::after {
  content: "";
  clear: both;
  display: table;
}

.featured-products-box {
  float: left;
  width: 25%;
  padding: 5px;
}

.featured-products-box img {
  width:150%
}

.new-product-btn-div{
  float: right;
  display: inline-block;
}
.new-product-btn {
  height: 40px;
  width: 140px;

  text-decoration: none;
  display: block;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #1E5D63;
  border: 2px solid #1E5D63;

}
.new-product-btn:hover{
  text-decoration: none;
  background-color: white;
  color: #1E5D63;
}

.view-course-btn {
  height: 40px;
  width: 140px;

  text-decoration: none;
  display: block;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #1E5D63;
  border: 2px solid #1E5D63;

}
.view-course-btn:hover{
  text-decoration: none;
  background-color: transparent;
  color: #1E5D63;
}

.view-course-btn a{
  text-decoration: none;
}

.top-course-ul {
  width: 110%;
  height: 390px;
  display: block;
  margin-left:-20px;
  position:relative;
  overflow: auto;
  white-space: nowrap;
}
#dv
