
.image {
   margin-top:100px;

}


.details {
   margin-left:640px;
   margin-top:-465px;
}

.category {
   color:grey;
}

.price {

}

.quantity {
   margin-left:1px;
   margin-top:10px;
}



#options {
   margin-left:75px;
   position:relative;
   top:-41px;
}

.btn {
    display: inline-block;
    background: black;
    color: #fff;
    padding: 12px 70px;
    margin: 30px 78px;
    margin-top:1px;
    border-radius: 30px;
    transition: background 0.5s;
    font-weight: 600;
}

.btn:hover {
    background:#4B4B4B ;
    color: white;
}

#review_div {
  width: calc(80%-400px);
  height: 150px;
  margin-top: 15px;
  background-color: white;
  border-radius:20px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.popup {
  position: absolute;
  display: inline-block;

}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 540px;
  height: 260px;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 8px 0;
  position: fixed;
  display: block;
  z-index: 1000;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popuptext ul{
  text-align:left;
  margin-left: 160px;
  padding-top: 10px;
  padding-right: 10px;
  display:inline-block;
  width: calc(100% - 260px);
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.popup .hide {
  visibility: hidden;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.name {
  font-weight: bold;
}

.price_div {
  text-align: right;
  display: inline-block;
  margin-top: 30px;
  padding-right: 20px;
  width: 100px;
  float: right;
}
.go-to-cart-btn {

  height: auto;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #1E5D63;
  border: 2px solid #1E5D63;

}
.go-to-cart-btn:hover{
  text-decoration: none;
  background-color: white;
  color: #1E5D63;
}
.cancel-btn {

  height: auto;
  width: 120px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 2px solid black;

}
.cancel-btn:hover{
  text-decoration: none;
  background-color: black;
  color: white;