.shopping_cart_page{
  max-width: 1400px;
  min-height: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.shopping_cart_title {
  width: 100%;
  padding-top: 90px;
  padding-left: 90px;
}
.empty_cart_div {
  width: 100%;
  text-align: center;
}
.courses_cart_div{
  min-height: 200px;
  max-width: 1000px;
  height: auto;
  margin-left: 90px;
  width: calc(100% - 440px);
}
.products_cart_div{
  min-height: 200px;
  height: auto;
  padding-left: 90px;
  width: calc(100% - 350px);
}
.checkout_div{
  height: 400px;
  max-width:300px;
  width:40%;
  padding-left: 10px;
  z-index: 5;
  float: right;
  position: absolute;
  top: 180px;
  right: 80px;
}
.course_overview_div {
  border-style: solid;
  border-width: 1px;
  height: 110px;
  width:calc(100% - 50px);
  border-color: #E5E5E5;
  margin-bottom: 10px;
}
.course_overview_div ul{
  text-align:left;
  margin-left: 160px;
  padding-top: 10px;
  padding-right: 10px;
  display:inline-block;
  width: calc(100% - 260px);

  height: 80px;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .course_overview_div{
    height: 120px;

  }
}
.price_div {
  text-align: right;
  display: inline-block;
  margin-top: 30px;
  padding-right: 20px;
  width: 100px;
  float: right;
}
.remove_btn {
  font-size: 15px;
}
.name {
  font-weight: bold;
}
.trainer {
  color: #767676;
}

.rating{
  color:#EBC805;
}
#remove_btn {
  border: 0;
  width:100px;
  background-color: transparent;
  font-size: 13px;
}
.checkout_btn{
  height: 50px;
  width: 280px;

  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
  line-height: 43px;
  font-weight: 600;
  padding-right: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #297F87;
  border: 2px solid #297F87;

}
.checkout_btn:hover{
  text-decoration: none;
  background-color: #1C5B60;
  color: white;
}
#apply_btn{
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #F4C02C;
  border: 2px solid #F4C02C;
}
#apply_btn:hover{
  text-decoration: none;
  background-color: transparent;
  color: #F4C02C;
}
